[submodule "wordpress-plugins"]
	path = wordpress-plugins
	url = https://akinadeayodeji5@bitbucket.org/vhr_developers/wordpress-plugins.git
[submodule "core-frontend"]
	path = core-frontend
	url = https://akinadeayodeji5@bitbucket.org/vhr_developers/core-frontend.git
[submodule "core-admin"]
	path = core-admin
	url = https://akinadeayodeji5@bitbucket.org/vhr_developers/core-admin.git
